$font__body: ff-basic-gothic-pro,sans-serif;
$font__heading: mrs-eaves-roman-lining, sans-serif;
$weight__book: 400;
$weight__bold: 700;

html {
  box-sizing: border-box;
  font-size: 63.25%;
  font-family: $font__body;
  color: #1F2426;
  font-weight: $weight__book;
  background: #EEE7DF url(../img/griffith_jg-mobile.jpg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  @media ( min-width: 768px ) {
    font-size: 84.25%
  }
  @media ( min-width: 1024px ) {
    position: static;
    font-size: 112.5%;
  }
  @media ( min-width: 1366px ) {
    background-image: url(../img/griffith_jg.jpg);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1 p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  color: currentColor;
  &:hover {
    text-decoration: none;
  }
}
h1 {
  font-size: 4em;
  font-family: $font__heading;
  color: #021642;
  font-weight: 400;
  line-height: 1.1;
}
#main-stage {
  margin: 10vh 8.5vw 0;
  max-width: 500px;
  @media ( min-width: 1024px) {
    max-width: 630px;
  }
  @media ( min-width: 1366px) {
    margin: 13.5vh 18vw 0;
  }
  p {
    margin: 1.9em 0;
    line-height: 1.55;
    font-size: 1.18em;
    @media ( min-width: 1024px ) {
      font-size: 1em;
    }
  }
  li {
    text-transform: uppercase;
    font-weight: $weight__bold;
    display: inline;
    font-size: 1em;
    letter-spacing: .025em;
    a {
      padding-right: .75em;
      text-decoration: none;
      color: #3C3C3E;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
